@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?96119547');
    src: url('../fonts/fontello.eot?96119547#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?96119547') format('woff2'),
    url('../fonts/fontello.woff?96119547') format('woff'),
    url('../fonts/fontello.ttf?96119547') format('truetype'),
    url('../fonts/fontello.svg?96119547#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?96119547#fontello') format('svg');
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */

.mod_googlebusinessreviews .reviews {
    display: flex;
    flex-direction: row;
}
.mod_googlebusinessreviews .review {
    flex: 1 1 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}
.mod_googlebusinessreviews .review .author {
    margin-bottom: 12px;
    align-items: center;
    display: flex;
}
.mod_googlebusinessreviews .review .author img {
    margin-right: 10px;
}
.mod_googlebusinessreviews .review .author div {
    display: inline-block;
}
.mod_googlebusinessreviews .review .author .name {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
}
.mod_googlebusinessreviews .review .author .name a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
.mod_googlebusinessreviews .review .author .date {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}
.mod_googlebusinessreviews .review .rating {
    display: flex;
    margin: 10px -5px;
}
.mod_googlebusinessreviews .review .rating .icon-star {
    font-size: 18px;
    width: 18px;
    display: inline-block;
}
.mod_googlebusinessreviews .review .rating .icon-star.yellow {
    color: rgb(252, 191, 2);
}
.mod_googlebusinessreviews .review .rating .icon-star.grey {
    color: lightgrey;
}
.mod_googlebusinessreviews .review .text {
    font-size: 1rem;
    color: rgb(70, 70, 70);
    line-height: 1.4;
}
.mod_googlebusinessreviews .review .google {
    width: 70px;
    height: 24px;
    display: inline-block;
    background: url("../img/logo_google_200x68.png") center no-repeat;
    background-size: cover;
}
.mod_googlebusinessreviews .link2gbp {
    text-align: right;
    margin-top: 10px;
}
.mod_googlebusinessreviews .new_review_link {
    text-align: right;
    margin-top: 10px;
}
@media (max-width: 967px) {
    .mod_googlebusinessreviews .reviews {
        flex-direction: column;
    }
    .mod_googlebusinessreviews .review {
        margin-top: 10px;
    }
}
